# Ignore node_modules directory
node_modules/

# Ignore npm debug log files
npm-debug.log*

# Ignore yarn debug log files
yarn-debug.log*
yarn-error.log*

# Ignore pnpm debug log files
pnpm-debug.log*

# Ignore .lock files
package-lock.json
yarn.lock
.pnpm-lock.yaml

scratch/
dist/
coverage/

.env

.vercel
